/* IMPORTING FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
}
  
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --fonts-size: 18px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: var(--fonts-size);
}


a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.nav-button:hover{
    opacity: 0.7; 
    color: rgb(128, 128, 128);
}

/* Hover for footer links */

footer .links a{
    display: inline;
    position: relative;
    color: white;
}

footer .links a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

footer .links a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
}



/* ===============================HEADER SECTION ================================= */
header {
    background-color: #edfbfe;
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 64px;
}

header>.container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>.container img {
    height: 32px;
}

header>.container a {
    background-color: white;
    color: var(--Very-Dark-Cyan);
    padding: 14px 56px;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .landing .container {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Adjusting Header For Mobile devices */

@media (max-width: 991px) {
    header {
        background-image: url(../images/bg-hero-mobile.svg);
        padding-bottom: 48px;
    }
}

@media (max-width: 991px) {
    header>.container {
        height: 80px;
    }

    header>.container img {
        height: 16px;
    }

    header>.container a {
        padding: 6px 26px;
        border-radius: 32px;
        font-size: 10px;
    }
}


/* ======================LANDING SECTION WITHIN THE HEADER ===================== */

/* targetting the column for article  */
/* .landing .container article */

.col {
    width: 42%;
    margin-bottom: 32px;
}

/* targetting the image col class  */

.col:nth-child(2) {
    width: 55%;
}


article h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.landing .container article p {
    color: var(--Very-Dark-Cyan);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 48px;
}

.landing .container article a {
    background-color: var(--Pink);
    color: var(--Very-Pale-Cyan);
    padding: 14px 56px;
    border-radius: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* Adjusting Header For Mobile devices */

@media (max-width: 991px) {
    header .landing .container {
        flex-direction: column;
    }

    .col {
        width: 90%;
    }

    .col:nth-child(2) {
        width: 95%;
    }

    .landing .container article {
        text-align: center;
    }

    article h1 {
        font-size: 24px;
    }

    .landing .container article p {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .landing .container article a {
        padding: 10px 48px;
        font-size: 12px;
    }
}

/* ================================THE MAIN SECTION ============================== */
main {
    padding-top: 128px;
    padding-bottom: 288px;
}

section .container {
    padding: 56px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(16, 16, 17, 0.2) 0px 7px 29px 0px;
    margin-bottom: 40px;
    border-radius: 12px;
}

section .container article {
    width: 40%;
    margin-left: 80px;
}

section .container .image {
    width: 35%;
    margin-left: 96px;
}

.container article h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
    font-size: 28px;
    margin-bottom: 16px;
}

section .container article p {
    color: var(--Grayish-Blue);
    font-size: 18px;
    line-height: 1.5;
}

/* Adjusting Header For Mobile devices */

@media (max-width: 991px) {
    main {
        padding-top: 64px;
        padding-bottom: 192px;
    }

    section .container {
        padding: 24px 0px;
        justify-content: center;
        margin-bottom: 40px;
        flex-direction: column-reverse;
    }

    .flow .container {
        flex-direction: column;
    }

    section .container article {
        width: 90%;
        margin-left: 0px;
        text-align: center;
    }

    section .container .image {
        width: 90%;
        margin-left: 0px;
        margin-top: 16px;
        margin-bottom: 48px;
    }

    .container article h2 {
        font-size: 24px;
    }

    section .container article p {
        font-size: 17.008px;
    }
}

/* ============================= FOOTER BOX SECTION ======================================= */


footer {
    padding-top: 128px;
    background-color: var(--Very-Dark-Cyan);
    color: white;
    position: relative;
}

footer .ft-box {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translatex(-50%);
    background-color: white;
    color: var(--Very-Dark-Cyan);
    width: 800px;
    height: 275px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.ft-box h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-bottom: 32px;
}

.ft-box a {
    background-color: var(--Pink);
    color: white;
    padding: 28px 88px;
    border-radius: 48px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Adjusting Header For Mobile devices */

@media (max-width: 991px) {
    footer {
        padding-top: 96px;
    }

    footer .ft-box {
        top: -17.5%;
        left: 50%;
        width: 90%;
        height: 180px;
    }

    .ft-box h2 {
        text-align: center;
        width: 90%;
        font-size: 17.008px;
    }

    .ft-box a {
        padding: 16px 48px;
        font-size: 12px;
    }
}


/* ============================ FOOTER SECTION =============================== */
footer .container {
    margin-top: 32px;
}

/* Adjusting Footer Logo For Mobile devices */

@media (max-width: 991px) {
    .ft-logo img{
        height: 24px;
    }
}


.ft-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.info-box .line {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    color: var(--Very-Pale-Cyan);
    font-size: 14px;
}

.info-box .line img {
    margin-right: 16px;
}

.links {
    display: flex;
    font-size: 16px;
}

/* Adjusting the rest of Footer elements For Mobile devices */

@media (max-width: 991px) {
    .ft-nav {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }
    .ft-nav .links:not(:last-of-type) {
        margin-top: 24px;
    }
}


/* FOOTER LINKS  */

.links li {
    margin-bottom: 20px;
}

.links li a {
    color: var(--Very-Pale-Cyan);
}


footer .container .social {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 16px;
}

.social li a{
    color: var(--Very-Pale-Cyan);
    position: relative;
    display: grid;
    place-items: center;
    transition: 0.3s;
}

/* SOCIAL MEDIA ICONS HOVER EFFECTS  */

.social li a:hover{
    color: var(--Pink);
}
.social li .twitter{
    margin-right: -1.888px;
}

/* Adjusting Footer Links elements For Mobile devices */

@media (max-width: 991px) {
    footer .container .social {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 32px;
    }
    .social li a{
        margin-left: 32px;
    }
}

/* SOCIAL LINKS HOVER EFFECTS */

.social li a::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1.008px solid var(--Very-Pale-Cyan);
    transition: 0.3s;
}
.social li a:hover::before{
    border: 1.008px solid var(--Pink);
}


/* COPYRIGHT ELEMENT WITHIN THE FOOTER  */

footer .container .copyright {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: var(--Very-Pale-Cyan);
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
}

/* Adjusting Footer Copyright elements For Mobile devices */

@media (max-width: 991px) {
    footer .container .copyright {
        text-align: center;
        justify-content: center;
        margin-top: 32px;
    }
}


/* ATTRIBUTION IN THE END OF THE FOOTER  */

.attribution {
    margin-top: 48px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    color: var(--Pink);
}



/* ADJUSTING CONTAINER FOR ALL TYPES OF DEVICES FOR A BETTER RESPONSIVE SITE  */

/* Small devices */
@media (max-width: 575px) {
    .container {
        margin-left: 8px;
        margin-right: 8px;
    }
}

/* Small devices */
@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

/* Medium devices  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Extra large  */
@media (min-width: 1200px) {
    .container {
        width: 1195px;
    }
}

/* Extra large  */
@media (min-width: 1400px) {
    .container {
        width: 1270px;
    }
}



/* TO THE TOP BUTTON  */

.to-top{
    background: var(--Pink);
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 16px;
    right: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--Very-Dark-Cyan);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}


